<html>
<head>
</head>

<body>

<div class= "container">
  <div class="jumbotron">
    <div class="row justify-content-center">
      <div class="col-md-6">
<!-- Title and Picture   -->
      <h1>Clash Royale Cards</h1>
        <img class="mx-auto d-block" height="200" width="300" alt="Clash" src="http://cdn.supercell.com/supercell.com/180514143929/all/themes/supercell/img/parallax/cr_logo.png">
<br>

<!--Form -->
        <div class= "row justify-content-center">
          <form class="form-horizontal" [formGroup] = "form">
            <fieldset> 
              <div class="form-group mx-auto text-center">
                <label class="control-label text-center" for="elixirCount">Amount of Elixir</label>
                <div class=" form-group col-md-12">
                  <select class="form-control" formControlName="elixirValue" name="number">
                    <option value="null" disabled selected>Select Elixir Count</option>
                    <option *ngFor="let elixir of elixirCount" value={{elixir}}>{{elixir}}</option>
                  </select> <br> 
                  <button class= "btn btn-primary d-block mx-auto" type="button" name="submit" data-toggle="modal" data-target="#myModal" [disabled]="!form.valid" (click)="onSubmit()">Submit</button>
                </div>        
              </div>
            </fieldset>
          </form> 
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class= "modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Cards with {{this.form.value.elixirValue}} Elixir</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class = "col-md-12" style= "border-bottom: 2px solid #000000"  *ngFor = "let card of elixirCardList">
          <div class = "row">
            <div class = "col">
              <h5>{{card.name}}</h5><br>
              <ul>
                <li><h6>Rarity: {{card.rarity}}</h6></li>
                <li><h6>Type: {{card.type}}</h6></li>
                <li><h6>Description: {{card.description}}</h6></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</body>
</html>

