<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="//code.angularjs.org/snapshot/angular.min.js"></script>      
</head>
<body>
  
<div style="text-align:center">
  <h1>Clash Royale Cards
  </h1>
  <img height="200" width="300" alt="Clash" src="http://cdn.supercell.com/supercell.com/180514143929/all/themes/supercell/img/parallax/cr_logo.png">
</div>
<br>

<div style= "text-align:center">

<form class="form-horizontal">
  <fieldset>
  
  <div class="form-group">  
    <div class="col-md-4">
    </div>
  </div>
  
  <div class="form-group">
    <label class="col-md-4 control-label" for="selectbasic">Card Elixir</label>
    <div class="col-md-4">
      <select id="selectbasic" name="selectbasic" class="form-control">
        <option value="1">value1</option>
        <option value="2">value2</option>
        <option value="3">value3</option>
        <option value="4">value4</option>
        <option value="5">value5</option>
      </select>
    </div>
  </div>
  
  </fieldset>
  </form>
  
<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Cards with Elixir</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</div>
</body>
</html>

