h1{
    font-size: 6em;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
label{
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
body{
    background-color: rgb(177, 177, 177);
    background-repeat: no-repeat;
}